:root {
  --color-bg: #ffffff;
  --color-text: #333333;
  --color-text-button:#ffffff;
  --color-border: #cccccc;
  --color-primary: #000000;
  --color-primary-hover: #525252;
  --color-danger: #d00000;

  --transition: 0.3s ease;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.6);

  --radius: 10px;
  --radius-small: 8px;
  --padding-base: 10px;
  --padding-section: 20px;

  --font-size-base: 1rem;
  --font-size-title: 1.5rem;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: inherit;
}
